<form [formGroup]="loginForm" (ngSubmit)="loginSubmit">
    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4" size="12">
                <div>
                    <ion-label>Email:</ion-label><strong>{{loginForm.value.email}}</strong>
                    <ion-input   placeholder="Ejemplo: ricardo.castillo@uanl.edu.mx" type="text" formControlName="email"></ion-input>
                </div>
                <div>
                    <ion-label>Password:</ion-label>
                    <ion-input placeholder="Ejemplo: A0B1C2D3" required type="password" minlength="1"  formControlName="password"></ion-input>
                </div>
                <div>
                    <ion-button type="submit" [disabled]="loginForm.invalid">Iniciar Sesion</ion-button>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</form>

<!--formulario de registro-->
<form [formGroup]="registroForm" (ngSubmit)="registroSubmit">
    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4" size="12">
                <div>
                    <ion-label>Nombre:</ion-label><strong>{{registroForm.value.email}}</strong>
                    <ion-input   placeholder="Ejemplo: ricardo" type="text" formControlName="nombre"></ion-input>
                </div>
                <div>
                    <ion-label>Email:</ion-label><strong>{{registroForm.value.email}}</strong>
                    <ion-input   placeholder="Ejemplo: ricardo.castillo@uanl.edu.mx" type="text" formControlName="email"></ion-input>
                </div>
                <div>
                    <ion-label>Password:</ion-label>
                    <ion-input placeholder="Ejemplo: A0B1C2D3" required type="password" minlength="1"  formControlName="password"></ion-input>
                </div>
                <div>
                    <ion-button type="submit" [disabled]="registroForm.invalid">Registrarse</ion-button>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</form>
